@charset "UTF-8";
* {
font-family: "Noto Sans";
font-size: 17px;
text-decoration: none;
}
body, html {
height: 100%;
}
nav {
list-style-type: none;
overflow: hidden;
background-color:#FAFAFA;
}
nav li {
float: right;
}
nav li a, .dropbtn {
display: inline-block;
color: black;
text-align: center;
padding: 14px 16px;
}
nav li a:hover, .dropdown:hover .dropbtn {
background-color: #90EE90;
}
nav li.dropdown {
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content a {
color: black;
padding: 12px 16px;
display: block;
text-align: left;
}
.dropdown-content a:hover {
background-color: #f1f1f1
}
.bag{
background-image: url("file:///C:/Users/Jean/Documents/UOTTAWA/FIRST%20YEAR/FIRST%20SEMESTER/GitHub/e-vent.github.io/Images/celebration-crowd-daylight-1157557.jpg");
background-size: cover;
background-repeat:no-repeat;
background-position:center;
height:100vh;
margin:0;
}
