@charset "UTF-8";
body,html{
height:100%;
margin:0;
margin:0;
font-size: 17px !important;
font-family: Arial;
}
.teststyle {
background-color: powderblue;
color: red;
display: none;
}
.topnav {
background-color: #FAFAFA;
overflow: hidden;
margin:0;
border: 1px solid #FAFAFA;
}
.topnav a {
color: black;
padding: 14px 16px;
text-decoration: none;
display:block;
text-align:center;
float:right;
}
.dropdown{
float: right;
overflow:hidden;
}
.dropdown .dropbtn{
border:none;
font-family:inherite;
background-color:inherit;
padding:14px 16px;
margin:0;
color:black;
font-size:17px;
}
.dropdown-content{
display:none;
background-color: white;
position:absolute;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
color: black;
padding: 14px 16px;
text-decoration: none;
display: block;
text-align: left;
float:none;
}
.topnav a:hover, .dropdown:hover .dropbtn{
color: #5271ff ;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content a:hover{
background-color: lightgray;
color:;
}
.bag{
background-image: url("file:///C:/Users/Jean/Documents/UOTTAWA/FIRST%20YEAR/FIRST%20SEMESTER/GitHub/e-vent.github.io/Images/celebration-crowd-daylight-1157557.jpg");
background-size: cover;
background-repeat:no-repeat;
background-position:center;
height:100vh;
margin:0;
}


